<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>
<body>
	<div class="intro-header container">
		<img src="{{url_for('static', filename='images/3.jpg')}}">			
	</div>

<hr>	
	<div class="welcome-msg">Welcome To Science Quiz 4 Kids</div>
<hr>



	<div class="content-left" >
		<div class="content-inside" style="float:left">
			<span>Grade 1 Quiz</span>		
			<ul class="topics">
				<span>Based on</span>	
				<li>Space Science</li>
				<li>Plants and Animals</li>
				<li>Little Chemsitery</li>
			</ul>
		</div>

		<div class="content-inside" style="float:right;">
			<a href='{{url_for('quizFirst')}}'><img style="height:auto;" src="{{url_for('static', filename='images/grade1.png')}}"></a>			
		</div>
	</div>



	<div class="content-right" >		
		<div class="content-inside" style="float:left">
			<a href='{{url_for('quizSecond')}}'><img style="height:auto;" src="{{url_for('static', filename='images/grade2.png')}}"></a>		
		</div>
		<div class="content-inside" style="float:right">
			<span>Grade 2 Quiz</span>		
			<ul class="topics">
				<span>Based on</span>	
				<li>Space Science</li>
				<li>All About Enviromental Science</li>
				<li>More Chemistry</li>
			</ul>
		</div>
	</div>




	<div class="content-left" >
		<div class="content-inside" style="float:left">
			<span>Grade 3 Quiz</span>		
			<ul class="topics">
				<span>Based on</span>	
				<li>Physics,Newton is waiting</li>
				<li>Geography</li>
				<li>Little Chemsitery</li>
			</ul>
		</div>
		<div class="content-inside" style="float:right;">
			<a href='{{url_for('quizThird')}}'><img style="height:auto;" src="{{url_for('static', filename='images/grade3.png')}}"></a>			
		</div>
	</div>



	<div class="content-right" >		
		<div class="content-inside" style="float:left">
			<a href='{{url_for('quizFour')}}'><img style="height:auto;" src="{{url_for('static', filename='images/grade4.png')}}"></a>		
		</div>
		<div class="content-inside" style="float:right">
			<span>Grade 4 Quiz</span>		
			<ul class="topics">
				<span>Based on</span>	
				<li>Space Science</li>
				<li>All About Enviromental Science</li>
				<li>More Chemistry</li>
			</ul>
		</div>
	</div>



	<div class="content-left" >
		<div class="content-inside" style="float:left">
			<span>Grade 5 Quiz</span>		
			<ul class="topics">
				<span>Based on</span>	
				<li>Physics,Newton is waiting</li>
				<li>Geography</li>
				<li>Little Chemsitery</li>
			</ul>
		</div>
		<div class="content-inside" style="float:right;">
			<a href='{{url_for('quizFive')}}'><img style="height:auto;" src="{{url_for('static', filename='images/grade5.png')}}"></a>			
		</div>
	</div>

	

	


 

<script type="text/javascript" src="js/script.js"></script>
</body>

</html>